@model asm1.Entities.NguoiDung

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Edit</h1>

<h4>NguoiDung</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="MaNd" />
            <div class="form-group">
                <label asp-for="TenNd" class="control-label"></label>
                <input asp-for="TenNd" class="form-control" />
                <span asp-validation-for="TenNd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TaiKhoanNd" class="control-label"></label>
                <input asp-for="TaiKhoanNd" class="form-control" readonly/>
                <span asp-validation-for="TaiKhoanNd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MatKhauNd" class="control-label"></label>
                <input asp-for="MatKhauNd" class="form-control" />
                <span asp-validation-for="MatKhauNd" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" readonly/>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sdt" class="control-label"></label>
                <input asp-for="Sdt" class="form-control" />
                <span asp-validation-for="Sdt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DiaChi" class="control-label"></label>
                <input asp-for="DiaChi" class="form-control" />
                <span asp-validation-for="DiaChi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
                <a class="btn btn-light" asp-action="Index">Cancel</a>
            </div>
        </form>
    </div>
</div>

